# =========================
# ENV
# =========================
.env

# =========================
# Build / Binários
# =========================
bin/
dist/
tmp/

*.exe
*.exe~
*.dll
*.so
*.dylib
*.out

# =========================
# Testes
# =========================
*.test
coverage.out

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Go
# =========================
vendor/